<div id="expanded-wrapper" class="modal">
    <span class="modal__close" onclick="closeImageModal()">&times;</span>
    <img id="expanded-image" class="modal__content" src="" onclick="openImageModal()" alt="Extra product image">
</div>
