.cart {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 92px;
}

.cart .quick-cart__item-image {
  height: 92px;
  width: 92px;
}

.cart .quick-cart__item-text {
  justify-content: space-between;
}

.cart .quick-cart__item-text h3 {
  font-size: 1.25rem;
}

.cart .quick-cart__remove {
  height: 21px;
  width: 21px;
}

.cart .quick-cart__item-text span {
  font-size: 0.875rem;
}

.cart .quick-cart__totals {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cart .quick-cart__total {
  color: #161412;
  font-size: 1.25rem;
}

.cart .quick-cart__taxes {
  color: #65635F;
  font-size: 0.75rem;
}

.cart__subtitle {
  color: #161412;
  font-family: "Karla", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 12px;
}

.cart .quick-cart__button {
  width: 280px;
}
