.footer--index {
  background-color: #F4F4F2;
  min-height: 45px;
  padding: 12px;
  width: 100%;
}

.products__footer {
  background-color: #fff;
  margin-top: 12px;
}

.footer__attribution {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer_attribute {
  color: #161412;
  font-family: 'Karla', sans-serif;
  font-size: 0.875rem;
  letter-spacing: .88px;
  margin-left: 0;
  text-decoration: none;
}

.footer__attribution--absolute {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
}
