.product-page {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 96px;
}

.product-page .products__price {
  font-size: 1rem;
}

.product-page__left {
  align-items: center;
  background-color: #F4F4F2;
  display: flex;
  flex: 1 0 0;
  justify-content: center;
  min-height: calc(100vh - 136px);
  padding: 120px;
  width: 50%;
}

.product-page__extra-images {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 421px;
  justify-content: center;
  margin-right: 40px;
  min-width: 92px;
  overflow-y: auto;
}

.product-page__extra-image {
  cursor: pointer;
  display: block;
  height: 92px;
  min-width: 92px;
  object-fit: cover;
  padding: 8px;
}

.product-page__extra-image:hover {
  border: 1px solid #D2CFC8;
}

.product-page__image {
  max-height: 580px;
  max-width: 500px;
}

.product-page__right {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 136px);
  padding: 120px 120px 120px 0;
  position: relative;
}

.product-page__back-button {
  align-items: center;
  display: flex;
  margin-bottom: 21px;
  text-decoration: none;
}

.product-page__back {
  margin-bottom: 0;
  margin-left: 8px;
}

.product-page__title {
  color: #161412;
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 8px;
}

.product-page__subtitle {
  color: #161412;
  font-family: 'Lato', sans-serif;
  font-size: 1.125rem;
  margin-bottom: 32px;
}

.product-page__description {
  border-bottom: 0.5px solid rgba(101, 99, 95, .6);
  color: #65635F;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 21px;
  padding-bottom: 32px;
}

.product-page__description div {
  max-height: 132px;
  overflow-y: auto;
}

.product-page__quantities {
  display: flex;
  flex-direction: column;
}

.product-page__quantity {
  color: #65635F;
  font-family: 'Karla', sans-serif;
  font-size: 0.875rem;
  line-height: 1;
  margin-bottom: 12px;
  margin-top: 12px;
}

.product-page__quantity:last-of-type {
  margin-top: 0;
}

.product-page__actions {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
  margin-top: 28px;
}

.product-page__actions input {
  font-family: 'Karla', sans-serif;
  min-width: 64px;
  padding: 4px;
  text-align: center;
}

.products-page__add-to-cart {
  background-color: #161412;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  padding: 12px;
  text-transform: uppercase;
  width: 100%;
}

.products-page__add-to-cart--oos {
  background: rgba(22, 20, 18, .8);
  cursor: not-allowed;
}

.products-page__taxes {
  color: #65635F;
  font-family: 'Karla', sans-serif;
  font-size: 0.875rem;
  text-align: center;
}
