<footer class="footer footer--index {% if collections.size == 0 %}footer--white{% endif %}">
    <div class="footer__attribution container">
        <a class="footer_attribute" href="https://enfront.io" target="_blank">Powered By Enfront</a>
    </div>
</footer>
